<!--
Name: Alicia Buehner
Date: 05.05.19
Description: This file contains the html structures for the create profile summary page for the My Dating website assignment part I & II.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Summary</title>
    <!--Bootstrap css styles-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="./">Spark Dating Website</a>
            </li>
        </ul>
    </nav>

<!-- Main body content -->
    <div class="container summary">
        <div class="row border rounded">
            <div class="col-12">
                <h1 class="mt-5 mb-2">Summary</h1>
                <hr>
            </div>
            <div class="row form1">
                <div class="col-sm-6 mlr-3">
                    <ul class="list-group">
                        <li class="list-group-item">Name: {{ $_SESSION['member']->getFname() }}
                            {{$_SESSION['member']->getLname() }}</li>
                        <li class="list-group-item">Gender: {{ $_SESSION['member']->getGender() }}</li>
                        <li class="list-group-item">Age: {{ $_SESSION['member']->getAge() }}</li>
                        <li class="list-group-item">Phone: {{ $_SESSION['member']->getPhone() }}</li>
                        <li class="list-group-item">Email: {{ $_SESSION['member']->getEmail() }}</li>
                        <li class="list-group-item">State: {{ $_SESSION['member']->getState() }}</li>
                        <li class="list-group-item">Seeking: {{ $_SESSION['member']->getSeeking() }}</li>
                        <li class="list-group-item">Interests: {{ implode(" ", $_SESSION['member']->getInDoorInterests()) }}
                            <check if="{{ $_SESSION['member']->getOutDoorInterests()[0]=='None selected yet' }}">
                                <false>{{ implode(" ", $_SESSION['member']->getOutDoorInterests()) }}</false>
                            </check>
                        </li>
                    </ul>
                </div>
                <div class="col mlrb-3">
                    <div class="mlr-3">
                        <img src="images/default-profile-img.png" class="rounded img-fluid userimg" alt="default">
                        <h5 class="text-muted">Biography</h5>
                        <p class="text-center">{{$_SESSION['member']->getBio() }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group text-center">
                    <input class="btn btn-lg btn-primary mb-3 mt-3" type="submit" value="Contact Me!">
                </div>
            </div>
        </div>
    </div>

<!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</body>
</html>