<!--
Name: Alicia Buehner
Date: 05.05.19
Description: This file contains the html structures for the create profile form part 3 interests for the My Dating website assignment part I & II.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interest | Create a Profile</title>
    <!--Bootstrap css styles-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="./">Spark Dating Website</a>
            </li>
        </ul>
    </nav>

<!-- Main body content -->
    <div class="container">
        <div class="row border rounded">
            <div class="col-12">
                <h1 class="mt-5 mb-2">Interests</h1>
                <hr>
            </div>
            <div class="col form1">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col">
                            <fieldset class="form-group">
                                <legend class="col-form-label pt-0"><strong>In-door Interests</strong></legend>
                                <check if="{{ @errors['indoor'] }}">
                                    <small id="indoorHelp" class="text-danger">{{ @errors['indoor'] }}</small>
                                </check>
                                <div class="row ml-1">
                                    <repeat group="{{ @indoors }}" value="{{ @indoorOption }}">
                                        <div class="form-check col-3">
                                            <input class="form-check-input" name="indoor[]" type="checkbox" id="{{ @indoorOption }}"
                                                   value="{{ @indoorOption }}"
                                            <check if="{{ !(empty(@indoor)) && in_array(@indoorOption, @indoor) }}">
                                                checked
                                            </check>>
                                            <label class="form-check-label" for="{{ @indoorOption }}">{{ @indoorOption }}</label>
                                        </div>
                                    </repeat>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <legend class="col-form-label pt-0"><strong>Out-door Interests</strong></legend>
                                <check if="{{ @errors['outdoor'] }}">
                                    <small id="outdoorHelp" class="text-danger">{{ @errors['outdoor'] }}</small>
                                </check>
                                <div class="row ml-1">
                                    <repeat group="{{ @outdoors }}" value="{{ @outdoorOption }}">
                                        <div class="form-check col-3">
                                            <input class="form-check-input" name="outdoor[]" type="checkbox" id="{{ @outdoorOption }}"
                                                   value="{{ @outdoorOption }}"
                                            <check if="{{ !(empty(@outdoor)) && in_array(@outdoorOption, @outdoor) }}">
                                                checked
                                            </check>>
                                            <label class="form-check-label" for="{{ @outdoorOption }}">{{ @outdoorOption }}</label>
                                        </div>
                                    </repeat>
                                </div>
                            </fieldset>
                            <div class="form-group text-right">
                                <input class="btn btn-primary" type="submit" value="Next >">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


<!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>