<!--
Name: Alicia Buehner
Date: 05.05.19
Description: This file contains the html structures for the create profile form part 2 profile for the My Dating website assignment part I & II.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile | Create a Profile</title>
    <!--Bootstrap css styles-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="./">Spark Dating Website</a>
            </li>
        </ul>
    </nav>

<!-- Main body content -->
    <div class="container">
        <div class="row border rounded">
            <div class="col-12">
                <h1 class="mt-5 mb-2">Profile</h1>
                <hr>
            </div>

<!-- Start of form structure -->
            <div class="col form1">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label" for="email"><strong>Email</strong></label>
                                <input class="form-control" type="email" name="email" id="email" value="{{ @email }}">
                            </div>
                            <div class="form-group">
                                <label for="state"><strong>State</strong></label>
                                <select class="form-control" name="state" id="state">
                                    <option class="disabled" disabled selected>SELECT</option>
                                    <repeat group="{{ @states }}" value="{{ @stateOption}}">
                                        <option
                                        <check if="{{ @state == @stateOption }}">
                                            selected
                                        </check>
                                        >{{ @stateOption }}</option>
                                    </repeat>
                                </select>
                                <check if="{{ @errors['state'] }}">
                                    <small id="stateHelp" class="text-danger">{{ @errors['state'] }}</small>
                                </check>
                            </div>
                            <fieldset class="form-group">
                                <legend class="col-form-label pt-0"><strong>Gender</strong></legend>
                                <repeat group="{{ @genders }}" value="{{ @genderOption }}">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">{{ @genderOption }}
                                            <input class="form-check-input" type="radio" name="seeking" value="{{ @genderOption }}"
                                            <check if="{{ @genderOption == @seeking }}">
                                                {{ checked }}
                                            </check>>
                                        </label>
                                    </div>
                                </repeat>
                                <check if="{{ @errors['seeking'] }}">
                                    <small id="seekingHelp" class="text-danger">{{ @errors['seeking'] }}</small>
                                </check>
                            </fieldset>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="bio"><strong>Biography</strong></label>
                                <textarea class="form-control" id="bio" rows="6" name="bio" >{{ @bio }}</textarea>
                            </div>
                            <div class="form-group text-right">
                                <input class="btn btn-primary" type="submit" value="Next >">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>