/* Nav styles **********************/
nav {
    margin-bottom: 10px;
}


/* Main Container Styles **********************/
.container {
    width: 90%;
}

.border {
    margin-bottom: 100px;
}


/* Left Container Col Styles **********************/
.header1 {
    margin-top: 50px;
    margin-bottom: 20px;
}
.col-style {
    width: 95%;
    padding-left: 30px;
}

.btn {
    background-color: #5D7FC6;
    border-color: #5D7FC6;
}

.btn-primary:hover {
    border-color: #688BCD;
    background-color: #688BCD;
}


/* Right Container Col Style**********************/
.img-fluid {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;
}